body{
    background-color: rgb(253, 98, 41);
}

form {
    align-items: center;
    width: 50%;
    max-width: 28rem;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem;
    display: flex;
    flex-direction: column;
}

label {
    width: 100%;
    color: bisque;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:focus-within {
    color: chartreuse;
}

input {
    font-size: 1.1875rem;
    color: brown;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}